body {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

#background-img {
    top: 0;
    width: 100%;
    height: 60%;
    background: rgba(37, 37, 37, 0.66);
    position: absolute;
    z-index: -1;
    /*filter: blur(5px);*/
}

.welcome {
    text-align: center;
    color: white;
    margin: 5em 30%;
}

#navbar {
    text-align: center;
    margin: 0 auto;

}
#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;

}
#navbar li {
    display: inline-block;

}
#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.content {
    position: relative;
    z-index: 1;
}
.a4 {
    width: 210mm;
    height: 297mm;
    border: 1px solid black;
}
.lunch {
    text-align: center;
    margin: 25em 30% 5em;
    padding: 5em 0;
    display: flex;
    gap: 2em;
}
.lunch div {
    padding: 1em;
}

.lunch h2 {
    font-size: 30px;
}
.alacarte {
    text-align: center;
    margin: 5em 30%;
    padding: 5em 0;
    gap: 2em;
}